.admin-aside-menu{
    background-color: #7ec119;
    height: 100vh;
    width: 15%;
    float: left;
}
main{
    width: 85%;
    float: right;
}
.menu-label{
    text-align: center;
}
hr{
    color: #e8f6d0;
    margin: 0 10%;
    width: 80%;
    border-color: #e8f6d0;
}
.navigation-container{
    margin-top: 10vh;
}
.navigation-container a{
    color: #e8f6d0;
    width: max-content;
    margin: 30px 0 0 15%;
    padding: 10px 0 10px 10px;
    display: block;
    text-decoration: none;
    font-size: 13pt;
    font-weight: 700;
    transition:  padding 0.3s;
}
.navigation-container a:hover{
    width: max-content;
    margin-right: auto;
    padding: 10px;
    background-color: white;
    color:#6d814e;
}
.navigation-container a.idicate-active-page:hover {
    width: 85%;
    background-color: white;
    color: #6d814e;
}
.indicate-active-page{
    width: 85% !important;
    background-color: white !important;
    color:#6d814e !important;
}